<div class="flex ">
  <div class="sm:flex-row flex items-center">
    <div class="flex m-5 ">
      <app-recipes-list (recipeWasSelected)="getRecipe($event)"></app-recipes-list>
    </div>
    <div class="flex m-5 ">
      <app-recipes-details
        *ngIf="selectedRecipe;else noRecipeSelected"
        [recipe]="selectedRecipe"
      >
    </app-recipes-details>
    <ng-template class="flex flex-1" #noRecipeSelected>
      <h3 class="items-center justify-center text-center text-5xl">Please select a Recipe!</h3 >
    </ng-template>
    </div>
  </div>
</div>
